.heroSectionBackground {
     background-image: 
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(253, 253, 253, 0.8)), /* Black overlay with 40% opacity */
        url('../../public/heroImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
}
.heroHeading{
    line-height: 5rem;
}
.heroSectionContainer {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.heroHeading {
    font-size: 2.2rem;
    color: hsl(341.05deg 24.68% 15.1%);
}

.importantHeading {
    background-image: linear-gradient(135deg, hsl(340 75% 45%), hsl(340 65% 65%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.bookAppointment{
    font-size: 1rem;
    padding: 0.7em 1.7em;
    font-weight: bold;
    border-radius: 0.6em;
    border: none;
    color: white;
    background-image: linear-gradient(135deg, hsl(340 75% 45%), hsl(340 65% 65%));
    /* background-image: linear-gradient(to right, #ff00ff, #c80aee); */
    transition: background-image 0.3s ease-in-out;
    background-size: 100% 100%;
}
.bookAppointment:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.viewServices:hover{
    cursor: pointer;
    background-color: hsl(340 75% 45%);
    color: white;
}
.viewServices{
    font-size: 1rem;
    padding: 0.7em 1.7em;
    font-weight: bold;
    border-radius: 0.6em;
    border: none;
    color: hsl(340 75% 45%);
    border: 0.1em solid hsl(340 75% 45%);
    background-color: white;
}

.heroParagraph{
    color: hsl(340 15% 45%);
    font-size: 1.2rem;
    font-weight: 400;
}

.heroButtons{
    display: flex;
    gap: 2rem;
}

.heroParagraph{
    max-width: 45rem;
}