.ourServiceCardContainer{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: hsl(340 30% 96%);
    padding: 1.7em;
    border-radius: 1em;
    border: 0.1rem solid hsl(340 20% 88%);
}

.serviceType{
    font-size: 1.3rem;
    font-weight: 500;
}

.ourServiceCardContainer:hover{
  box-shadow: 0em 0em 0.3em pink;

    .serviceType{
        color: hsl(340 75% 45%);
    }
}

.serviceDescription{
    margin: 1rem 0rem;
    color: hsl(340 15% 45%);
}

.serviceData{
    font-size: 0.9rem;
    color: hsl(340 15% 45%);
}

.serviceButton{
    padding: 0.9em;
    border-radius: 0.5em;
    font-weight: 600;
    background-color: white;
    color: hsl(340 75% 45%);
    border: 0.1rem solid hsl(340 75% 75%);
}

.serviceButton:hover{
    cursor: pointer;
    color: white;
    background-color: hsl(340 75% 45%);
}